<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <h1>Hello, there!</h1>
    <h2>{{ 5*6 }}</h2>
    <h3>Random Number: {{ rand_num }}</h3>
    <h3>Quote: {{ quote_q }}</h3>
    <h3>Author: {{ quote_a }}</h3>
    
    <form method="POST" action="/send-email">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
<footer>
    <p>Copyright: {{ cur_y }}.</p>
</footer>
</html>
